/* ========== */
/* = Custom styles, Circle Template, Red version = */
/* ========== */

/* ========== */
/* = Fonts = */
/* ========== */
@import url("fonts.css");

/* ========== */
/* = Tags and helpers = */
/* ========== */
*,
html * {
  outline: 0 !important;
  outline: none !important; }

body {
  padding-top: 80px;
  background: url("../images/bg.jpg");
  color: #434343; }

.center {
  text-align: center; }

/* ========== */
/* = Background Images = */
/* ========== */
#home {
  background: #000d1e url("../images/bg-red.jpg") 50% 80px no-repeat fixed;
  height: 657px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin-bottom: 200px; }

/* ========== */
/* = Header = */
/* ========== */
.navbar {
  background: white;
  font-family: 'museo_sans100'; }
  .navbar .brand {
    padding: 16px 12px 19px 12px;
    margin-left: 0; }
  .navbar .nav > li > a {
    padding: 30px 9px;
    font-size: 16px; }

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #434343;
  text-shadow: none;
  background: none; }
  .navbar-inverse .brand:hover,
  .navbar-inverse .nav > li > a:hover {
    color: #e84c3d; }

.navbar-inverse .nav .active > a {
  color: #434343;
  box-shadow: none;
  background: none; }

.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #e84c3d;
  box-shadow: none;
  background: none; }

.navbar-inverse .btn-navbar {
  margin: 24px 20px 0 0; }

.carousel-inner {
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  border-radius: 300px; }
  .carousel-inner .carousel-circle-text {
    margin: 130px 0 0 0;
    color: white;
    text-align: center; }
    .carousel-inner .carousel-circle-text h1 {
      font-family: 'museo_sans100';
      font-weight: normal;
      font-size: 71px; }
    .carousel-inner .carousel-circle-text h2 {
      font-family: 'museo_sans500';
      font-weight: normal;
      font-size: 50px;
      margin: 34px 0 0 0; }
    .carousel-inner .carousel-circle-text h3 {
      font-family: 'museo_slab100';
      font-weight: normal;
      font-size: 28px;
      line-height: 30px;
      margin: 0; }
    .carousel-inner .carousel-circle-text h4 {
      font-family: 'museo_slab100';
      font-weight: normal;
      font-size: 32px;
      line-height: 32px;
      margin: 0; }
  .carousel-inner .carousel-circle-div {
    float: right;
    display: inline-block;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px;
    background: rgba(0, 0, 0, 0.1);
    padding: 26px;
    margin: 67px 74px 0 0; }
    .carousel-inner .carousel-circle-div .carousel-circle {
      border: 10px white solid;
      -webkit-border-radius: 300px;
      -moz-border-radius: 300px;
      -ms-border-radius: 300px;
      -o-border-radius: 300px;
      border-radius: 300px;
      display: inline-block;
      width: 450px;
      height: 450px; }
      .carousel-inner .carousel-circle-div .carousel-circle img {
        -webkit-border-radius: 300px;
        -moz-border-radius: 300px;
        -ms-border-radius: 300px;
        -o-border-radius: 300px;
        border-radius: 300px; }

.carousel-control {
  width: 16px;
  height: 16px;
  border: 8px white solid;
  background: none;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  top: 55%;
  margin-right: 44px; }

/* ========== */
/* = Work = */
/* ========== */
#work {
  width: 100%;
  padding: 175px 0 25px 0; }

.portfolio {
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s; }
  .portfolio .ch-info-wrap {
    background: #ecf0f1;
    border: 10px white solid; }
  .portfolio .ch-info .ch-info-back {
    background: #e84c3d; }
  .portfolio .ch-border {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 10px rgba(0, 0, 0, 0.1) solid;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }
    .portfolio .ch-border:hover {
      border: 10px #e84c3d solid; }

.portfolio-navigation {
  display: inline-block;
  margin: 20px 0; }
  .portfolio-navigation a {
    display: inline-block;
    color: #e84c3d;
    padding: 8px 20px;
    font-size: 16px;
    text-decoration: none;
    margin-left: 15px; }
    .portfolio-navigation a:hover {
      background: #e84c3d;
      color: white;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px;
      border-color: #e84c3d; }
    .portfolio-navigation a.active {
      color: white;
      background: #e84c3d;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px; }
      .portfolio-navigation a.active a {
        color: white; }
  .portfolio-navigation:first-child {
    margin-left: 0; }

.portfolio li .project-item {
  height: 290px; }

.ch-item {
  height: auto!important; }

/* ========== */
/* = Icons = */
/* ========== */
.icon {
  display: inline-block;
  width: 36px; }

.icon-1 {
  background: url("../images/icons/icon-1.png") no-repeat;
  height: 32px;
  margin-top: -5px; }

.icon-2 {
  background: url("../images/icons/icon-2.png") no-repeat;
  height: 24px;
  margin-top: -2px; }

.icon-3 {
  background: url("../images/icons/icon-3.png") no-repeat;
  height: 17px;
  margin-top: 2px; }

.icon-4 {
  background: url("../images/icons/icon-4.png") no-repeat;
  height: 19px; }

.icon-5 {
  background: url("../images/icons/icon-5.png") no-repeat;
  height: 24px;
  margin-top: -2px; }

.icon-6 {
  background: url("../images/icons/icon-6.png") no-repeat;
  height: 23px;
  margin-top: -2px; }

/* ========== */
/* = Blockquotes = */
/* ========== */
.blockquote {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 593px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  vertical-align: middle; }
  .blockquote h2 {
    margin-top: 252px;
    font-style: italic;
    color: white;
    font-family: 'museo_sans100_italic';
    font-weight: normal;
    text-shadow: 0.05em 0.05em 0.1em #000;
    font-size: 36px;
    line-height: 44px; }

.blockquote-1 {
  background: url("../images/blockquote-img-1.jpg") 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.blockquote-2 {
  background: url("../images/blockquote-img-2.jpg") 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.blockquote-3 {
  background: url("../images/blockquote-img-3.jpg") 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

/* ========== */
/* = Title = */
/* ========== */
.title {
  text-align: center; }
  .title h1 {
    display: inline-block;
    font-size: 75px;
    line-height: 78px;
    color: #e84c3d;
    padding: 8px 0 3px;
    font-family: 'museo_slab700';
    font-weight: normal;
    border-top: 1px #e84c3d solid;
    border-bottom: 1px #e84c3d solid;
    position: relative; }
    .title h1 .line-left,
    .title h1 .line-right {
      background: url("../images/title-dot.png") no-repeat right top;
      width: 12px;
      height: 102px;
      position: absolute;
      top: -6px; }
    .title h1 .line-left {
      left: -11px; }

/* ========== */
/* = About = */
/* ========== */
#about {
  padding: 170px 0 80px 0; }

.employee {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 10px rgba(0, 0, 0, 0.1) solid;
  border-radius: 50%;
  text-align: center;
  margin-left: 20px;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  .employee img {
    border-radius: 50%; }
  .employee .employee-wrap {
    background: white;
    border: 10px white solid;
    border-radius: 50%; }
  .employee:hover {
    border: 10px #e84c3d solid; }

.move-top {
  margin-top: 72px; }

.move-top {
  margin-top: 37px; }

/* ========== */
/* = Services = */
/* ========== */
#services {
  padding: 170px 0 80px 0; }
  #services h4 {
    font-family: 'museo_sans700';
    color: #242424;
    font-size: 21px; }

.plan-title {
  margin-top: 90px; }
  .plan-title h2 {
    display: inline-block;
    background: url("../images/plans-bg-red.png") no-repeat;
    width: 391px;
    height: 75px;
    padding-top: 35px;
    color: white;
    font-size: 18px;
    font-family: 'museo_slab700';
    font-weight: normal; }

.price-item {
  display: inline-block;
  width: 166px;
  height: 166px; }

.price-item {
  display: inline-block;
  width: 156px;
  height: 156px;
  border: 10px transparent solid;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
  cursor: default;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in; }
  .price-item .price {
    display: inline-block;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 136px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    -ms-border-radius: 90px;
    -o-border-radius: 90px;
    border-radius: 90px; }
    .price-item .price .price-circle {
      display: inline-block;
      background: #e5e5e5;
      font-size: 30px;
      color: #636363;
      font-family: 'museo_sans500';
      width: 116px;
      height: 74px;
      padding-top: 42px;
      border: 10px white solid;
      -webkit-border-radius: 90px;
      -moz-border-radius: 90px;
      -ms-border-radius: 90px;
      -o-border-radius: 90px;
      border-radius: 90px; }
      .price-item .price .price-circle span {
        display: block;
        font-size: 14px;
        font-family: 'museo_sans100';
        margin-top: 3px; }

.pricelist {
  margin-top: 20px; }
  .pricelist .span3:hover .price-item {
    border: 10px #e84c3d solid; }
  .pricelist h3 {
    font-family: 'museo_sans500';
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 30px; }
  .pricelist h5 {
    font-family: 'museo_sans100_italic';
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    line-height: 16px;
    padding-bottom: 12px; }
  .pricelist p {
    color: #636363; }
  .pricelist button {
    margin-top: 16px; }

.btn {
  font-family: 'museo_sans100';
  background: #b4b1b1;
  color: white;
  font-size: 18px;
  border: 0;
  padding: 11px 26px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  text-shadow: none;
  box-shadow: none;
  background: #e84c3d; }
  .btn:hover {
    background: #434343;
    color: white;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }

/* ========== */
/* = Contact = */
/* ========== */
#contact {
  padding: 170px 0 80px 0; }
  #contact a {
    color: #e84c3d; }
    #contact a:hover {
      color: #e84c3d;
      text-decoration: underline; }
  #contact iframe {
    -webkit-border-radius: 190px;
    -moz-border-radius: 190px;
    -ms-border-radius: 190px;
    -o-border-radius: 190px;
    border-radius: 190px;
    border: 0; }
  #contact .map {
    width: 315px;
    height: 315px;
    border: 10px rgba(0, 0, 0, 0.1) solid;
    -webkit-border-radius: 190px;
    -moz-border-radius: 190px;
    -ms-border-radius: 190px;
    -o-border-radius: 190px;
    border-radius: 190px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }
    #contact .map .map-border {
	  position: absolute;
	  overflow: hidden;
      height: 295px;
      border: 10px white solid;
      -webkit-border-radius: 190px;
      -moz-border-radius: 190px;
      -ms-border-radius: 190px;
      -o-border-radius: 190px;
      border-radius: 190px; }
    #contact .map:hover {
      border: 10px #e84c3d solid; }
  #contact form {
    width: 350px; }
  #contact textarea,
  #contact input[type="text"],
  #contact input[type="tel"],
  #contact input[type="email"]  {
    width: 330px; }
  #contact textarea {
    height: 148px; }
  #contact .info {
    font-size: 16px;
    margin-top: 69px; }
    #contact .info h3 {
      font-family: 'museo_sans500';
      font-size: 18px;
      font-weight: normal; }
    #contact .info .info-div {
      margin-top: 8px; }
    #contact .info i {
      display: inline-block;
      width: 26px; }
    #contact .info .tel {
      background: url("../images/icons/phone.png") no-repeat;
      height: 15px; }
    #contact .info .mail {
      background: url("../images/icons/email.png") no-repeat;
      height: 13px; }
    #contact .info .address {
      background: url("../images/icons/home.png") no-repeat;
      height: 17px; }
    #contact .info .social {
      margin-top: 23px; }

/* ========== */
/* = Input = */
/* ========== */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background: #e5e5e5 !important;
  border: 0!important;
  color: #434343;
  font-family: 'museo_sans100';
  box-shadow: none;
  padding: 10px; }

textarea:focus, input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(227, 224, 224, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 14px rgba(227, 224, 224, 0.4);
  outline: 0 none; }

/* ========== */
/* = Footer = */
/* ========== */
footer {
  width: 100%;
  height: 57px;
  padding-top: 37px;
  background: #434343;
  text-align: center;
  color: #ecf0f1;
  font-size: 12px; }
  footer a {
    color: #ecf0f1;
    text-decoration: none; }
    footer a:hover {
      color: #ecf0f1;
      text-decoration: underline; }

/* ========== */
/* = Icons = */
/* ========== */
.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.icon-fb {
  background: url("../images/icons/facebook-icon.png") no-repeat 0px 0px; }
  .icon-fb:hover {
    background: url("../images/icons/facebook-icon.png") no-repeat -30px 0px; }

.icon-tw {
  background: url("../images/icons/twitter-icon.png") no-repeat 0px 0px; }
  .icon-tw:hover {
    background: url("../images/icons/twitter-icon.png") no-repeat -30px 0px; }

.icon-fb-black {
  background: url("../images/icons/facebook-icon-b.png") no-repeat 0px 0px; }
  .icon-fb-black:hover {
    background: url("../images/icons/facebook-icon-b.png") no-repeat -30px 0px; }

.icon-tw-black {
  background: url("../images/icons/twitter-icon-b.png") no-repeat 0px 0px; }
  .icon-tw-black:hover {
    background: url("../images/icons/twitter-icon-b.png") no-repeat -30px 0px; }

/* ========== */
/* = Isotop items animation = */
/* ========== */
.isotope .isotope-item {
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -moz-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity; }

.isotope .isotope-item {
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -moz-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity; }

.isotope-item {
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  z-index: 2; }

/* ========== */
/* = Mobile = */
/* ========== */
@media (max-width: 1200px) {
  .carousel-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; }

  .carousel-inner .carousel-circle-text {
    margin-left: 0; }

  .carousel-inner .carousel-circle-div {
    margin-right: 0; }

  .carousel-control.right {
    margin-right: -30px !important; }

  #contact .span4 {
    text-align: center;
    width: 100%; }
  #contact form,
  #contact .map {
    display: inline-block; }
  #contact .map {
    margin-top: 40px; }

  .elements .span4 {
    margin-top: 20px; } }
@media (max-width: 995px) {
  .nav-collapse {
    float: none; }

  .navbar .nav > li > a {
    padding: 10px 0;
    width: 100%;
    text-align: center; }
    .navbar .nav > li > a:hover {
      color: white;
      text-shadow: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      background: #434343; } }
@media (max-width: 979px) {
  body {
    padding-top: 0; }

  .carousel-control.right {
    display: none; }

  .carousel-inner {
    text-align: center; }

  .carousel-inner .carousel-circle-div {
    float: none;
    margin: 100px 0 0 0!important; }

  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    font-weight: normal;
    font-size: 24px; }

  .navbar-inverse .nav .active > a:hover,
  .navbar-inverse .nav .active > a:focus {
    color: white !important; }

  .navbar-inverse .nav-collapse .nav > li > a:hover,
  .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    background: #e84c3d; }

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin: 0; }

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed; }

  .portfolio .span3 {
    width: 47%!important;
    height: 240px;
    margin: 0 0 20px 0; }
  .portfolio .ch-item {
    height: auto; }
  .portfolio .ch-border {
    left: 100px; }

  .employee {
    width: auto;
    height: auto; }
    .employee .employee img {
      border-radius: 50%;
      width: 100px;
      height: 100px; } }
@media (max-width: 783px) {
  body {
    padding: 0; }

  p {
    padding: 0 20px; }

  .portfolio .span3 {
    width: 100%!important;
    height: 240px;
    margin: 0 0 20px 0; }
  .portfolio .ch-border {
    left: 36%; }

  .carousel-circle-div {
    margin-top: 110px!important; }

  .carousel-inner .carousel-circle-text {
    margin: 82px 0 0 0; }

  .carousel-inner .carousel-circle-text h1 {
    font-size: 52px; }

  .carousel-inner .carousel-circle-text h2 {
    font-size: 36px;
    margin: 0; }

  .carousel-inner .carousel-circle-div .carousel-circle {
    width: 350px;
    height: 350px; }

  .pricelist .span3 {
    padding-bottom: 30px; }

  .elements {
    padding: 0 20px; }

  .employee {
    margin-top: 20px;
    margin-left: 0; } }
@media (max-width: 767px) {
  .thumbnail img {
    min-width: 100%;
    height: auto; } }
@media (max-width: 580px) {
  .portfolio .ch-border {
    left: 33%; }

  .portfolio-navigation ul li {
    float: none;
    margin: 10px 0 0 0; }
    .portfolio-navigation ul li a {
      display: block; } }
@media (max-width: 460px) {
  .portfolio .ch-border {
    left: 29%; }

  .carousel {
    margin-top: 110px!important; }

  .title h1 {
    font-size: 46px;
    line-height: 48px;
    padding: 23px 0 18px; }

  .plan-title h2 {
    width: 110px;
    background: url("../images/plans-bg-mobile.png") no-repeat center top; }

  .blockquote h2 {
    margin-top: 140px;
    font-size: 26px;
    padding: 0 20px; }

  #contact form,
  #contact textarea,
  #contact input[type="text"] {
    text-align: center;
    display: inline-block; }

  .carousel-inner .carousel-circle-text {
    margin: 32px 0 0 0; }

  .carousel-inner .carousel-circle-text h1 {
    font-size: 32px;
    margin-bottom: 0; }

  .carousel-inner .carousel-circle-text h2 {
    font-size: 25px;
    margin: 0; }

  .carousel-inner .carousel-circle-text h3 {
    font-size: 14px; }

  .carousel-inner .carousel-circle-text h4 {
    font-size: 25px;
    line-height: 26px; }

  .carousel-inner .carousel-circle-div .carousel-circle {
    width: 220px;
    height: 220px; }

  iframe {
    width: 100%;
    height: 100%; } }
@media (min-width: 360px) and (max-width: 460px) {
  .portfolio .ch-border {
    left: 24%; } }
@media (max-width: 360px) {
  #contact textarea, 
  #contact input[type="text"], 
  #contact input[type="tel"], 
  #contact input[type="email"],
  #contact form {
    width: 220px;
    padding-left: 0;
    padding-right: 0; }
  iframe,
  #contact .map .map-border {
    width: 250px;
    height: 250px; }
  #contact .map {
    width: 270px;
    height: 270px; }
  .portfolio .ch-border {
    left: 19%; } }
