/* ========== */
/* = Custom styles, Circle Template = */
/* ========== */

/* ========== */
/* = Fonts = */
/* ========== */
@import url("fonts.css");

/* ========== */
/* = Tags and helpers = */
/* ========== */
*,
html * {
  outline: 0 !important;
  outline: none !important; }

body {
  padding-top: 10px;
  background: url("../images/jeanbg.jpg");
  color: #ffffff;
  font-family: 'Unkempt', cursive;
 }
 

.center {
  text-align: center; }
  
  
  .titlebn{
  float:right;
  margin-top: -100px;
  margin-left: 200px;
  margin-bottom: 20px;
  position:absolute;
  z-index: -999;	  
  }
 
 #bn{
 z-index:1
	 
 }
 /*fonts: font-family: 'Lato', sans-serif; & font-family: 'Unkempt', cursive;*/
/* ========== */
/* = Background Images = */
/* ========== */
/*#home {
  background: #003366 url("../images/bg.jpg") 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 657px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin-bottom: 200px;
  z-index: -999;
   }*/
  
 #bheader{
 background: #003366 url("../images/header.jpg") 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  /*margin: 0 auto;*/
  width: 100%;
  max-width: 1920px;
  /*position: relative;*/
  margin-top:20px;;
  margin-bottom: 30px;	
 } 
 
.fixed {
	margin-top: 20px;
}

.links p {
	display: inline;	
	}
		
	
/* ========== */
/* = Header = */
/* ========== */

/*.navbar {
  /*background: white;*/
  /*font-family:'Unkempt', cursive; }
  /*.navbar .brand {
    padding: 16px 12px 10px 16px; /*5=19px*/
    /*margin-left: 0; }
  .navbar .nav > li > a {
    padding: 20px 9px; /*30=20px controls logo padding*/
    /*font-size: 20px; }*/

/*.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: none;
  background: none; }
  .navbar-inverse .brand:hover,
  .navbar-inverse .nav > li > a:hover {
    color: #ffffff; }

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  box-shadow: none;
  background: none; }

.navbar-inverse .btn-navbar {
  margin: 24px 20px 0 0; }*/

/*.carousel-inner {
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  border-radius: 300px; 
  }
  .carousel-inner .carousel-circle-text {
    float: left;
    margin: 229px 0 0 95px;
    color:white;
    text-align: center; }
    .carousel-inner .carousel-circle-text h1 {
      font-family: 'museo_sans100';
      font-weight: normal;
      font-size: 71px; }
    .carousel-inner .carousel-circle-text h2 {
      font-family: 'museo_sans500';
      font-weight: normal;
      font-size: 50px;
      margin: 34px 0 0 0; }
    .carousel-inner .carousel-circle-text h3 {
      font-family: 'museo_slab100';
      font-weight: normal;
      font-size: 28px;
      line-height: 30px;
      margin: 0; }
    .carousel-inner .carousel-circle-text h4 {
      font-family: 'museo_slab100';
      font-weight: normal;
      font-size: 32px;
      line-height: 32px;
      margin: 0; }
  .carousel-inner .carousel-circle-div {
    float: right;
    display: inline-block;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px;
    background: rgba(0, 0, 0, 0.1);
    padding: 26px;
    margin: 67px 74px 0 0; }
    .carousel-inner .carousel-circle-div .carousel-circle {
      border: 10px white solid;
      -webkit-border-radius: 300px;
      -moz-border-radius: 300px;
      -ms-border-radius: 300px;
      -o-border-radius: 300px;
      border-radius: 300px; }
      .carousel-inner .carousel-circle-div .carousel-circle img {
        -webkit-border-radius: 300px;
        -moz-border-radius: 300px;
        -ms-border-radius: 300px;
        -o-border-radius: 300px;
        border-radius: 300px; }

.carousel-control {
  width: 16px;
  height: 16px;
  border: 8px white solid;
  background: none;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
  border-radius: 90px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  top: 55%;
  margin-right: 44px; }*/

/* ========== */
/* = Work = */
/* ========== */
#work {
  width: 100%;
  padding: 175px 0 25px 0; }

.portfolio {
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s; }
   .portfolio .ch-info-wrap {
    width:210px; /*larger bkgrnd circle*/
    height:210px; /*larger bkgrnd circle*/
    background:#ecf0f1;
   
   /*border: 10px #003366 solid;*/ } /*inner circle color - took out borders*/
  /*.portfolio .ch-border {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 10px rgba(0, 0, 0, 0.1) solid;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in; }
    .portfolio .ch-border:hover {
      border: 10px #434343 solid; }*/


      /*needed for circle positioning*/
      
   .portfolio-navigation a.active {
      color: white;
      background: #434343;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border-radius: 6px; }
      .portfolio-navigation a.active a {
        color: white; }
  .portfolio-navigation:first-child {
    margin-left: 0; }

.portfolio li .project-item {
  height: 290px; }

.ch-item {
  height: auto!important; }

/* ========== */
/* = Icons = */
/* ========== */
.icon {
  display: inline-block;
  width: 36px; }

.icon-1 {
  background: url("../images/icons/icon-1.png") no-repeat;
  height: 32px;
  margin-top: -5px; }

.icon-2 {
  background: url("../images/icons/icon-2.png") no-repeat;
  height: 24px;
  margin-top: -2px; }

.icon-3 {
  background: url("../images/icons/icon-3.png") no-repeat;
  height: 17px;
  margin-top: 2px; }

.icon-4 {
  background: url("../images/icons/icon-4.png") no-repeat;
  height: 19px; }

.icon-5 {
  background: url("../images/icons/icon-5.png") no-repeat;
  height: 24px;
  margin-top: -2px; }

.icon-6 {
  background: url("../images/icons/icon-6.png") no-repeat;
  height: 23px;
  margin-top: -2px; }

/* ========== */
/* = Blockquotes = */
/* ========== */
.blockquote {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 593px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  vertical-align: middle; }
  .blockquote h2 {
    margin-top: 252px;
    font-style: italic;
    color: white;
    font-family: 'museo_sans100_italic';
    font-weight: normal;
    text-shadow: 0.05em 0.05em 0.1em #000;
    font-size: 36px;
    line-height: 44px; }

.blockquote-1 {
  background: url("../images/blockquote-img-1.jpg") 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.blockquote-2 {
  background: url("../images/blockquote-img-2.jpg") 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.blockquote-3 {
  background: url("../images/blockquote-img-3.jpg") 50% 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

/* ========== */
/* = Title = */
/* ========== */
.title {
  text-align: center; }
  .title h1 {
    display: inline-block;
    font-size: 75px;
    line-height: 78px;
    color: #ffffff;
    padding: 8px 0 3px;
    font-family: font-family: 'Unkempt', cursive;
    font-weight: normal;
    border-top: 1px #aeaeae solid;
    border-bottom: 1px #aeaeae solid;
    position: relative; }
    .title h1 .line-left,
    .title h1 .line-right {
      background: url("../images/title-dot.png") no-repeat right top;
      width: 12px;
      height: 102px;
      position: absolute;
      top: -6px; }
    .title h1 .line-left {
      left: -11px; }



/* ========== */
/* = Input = */
/* ========== */
/*textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background: #e5e5e5 !important;
  border: 0!important;
  color: #434343;
  font-family: 'museo_sans100';
  box-shadow: none;
  padding: 10px; }

textarea:focus, input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(227, 224, 224, 0.9);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 14px rgba(227, 224, 224, 0.4);
  outline: 0 none; }*/

/* ========== */
/* = Footer = */
/* ========== */
footer {
  width: 100%;
  font-family: 'Lato', sans-serif;
  height: 57px;
  padding-top: 37px;
  background: none;
  text-align: center;
  color: #ecf0f1;
  font-size: 14px;
  }
  
 footer a {
    color: #ecf0f1;
    text-decoration: none; }
    footer a:hover {
      color: #ecf0f1;
      text-decoration: underline; }
      

/* ========== */
/* = Icons = */
/* ========== */
/*.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.icon-fb {
  background: url("../images/icons/facebook-icon.png") no-repeat 0px 0px; }
  .icon-fb:hover {
    background: url("../images/icons/facebook-icon.png") no-repeat -30px 0px; }

.icon-tw {
  background: url("../images/icons/twitter-icon.png") no-repeat 0px 0px; }
  .icon-tw:hover {
    background: url("../images/icons/twitter-icon.png") no-repeat -30px 0px; }

.icon-fb-black {
  background: url("../images/icons/facebook-icon-b.png") no-repeat 0px 0px; }
  .icon-fb-black:hover {
    background: url("../images/icons/facebook-icon-b.png") no-repeat -30px 0px; }

.icon-tw-black {
  background: url("../images/icons/twitter-icon-b.png") no-repeat 0px 0px; }
  .icon-tw-black:hover {
    background: url("../images/icons/twitter-icon-b.png") no-repeat -30px 0px; }*/

/* ========== */
/* = Isotop items animation = */
/* ========== */
/*.isotope .isotope-item {
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -moz-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity; }

.isotope .isotope-item {
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -moz-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
  -webkit-transition-property: -webkit-transform, opacity; }

.isotope-item {
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  z-index: 2; }*/

/* ========== */
/* = Mobile = */
/* ========== */
@media (max-width: 1200px) {
  .carousel-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; }

  .carousel-inner .carousel-circle-text {
    margin-left: 0; }

  .carousel-inner .carousel-circle-div {
    margin-right: 0; }

  .carousel-control.right {
    margin-right: -30px !important; }

  .elements .span4 {
    margin-top: 20px; } }
@media (max-width: 995px) {
  .nav-collapse {
    float: none; }

  .navbar .nav > li > a {
    padding: 10px 0;
    width: 100%;
    text-align: center; }
    .navbar .nav > li > a:hover {
      color: white;
      text-shadow: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      background: #434343; } }
      
@media (max-width: 979px) {
  body {
    padding-top: 0; }

  .carousel-circle-text {
    display: none; }

  .carousel-control.right {
    display: none; }

  .carousel-inner {
    text-align: center; }

  .carousel-inner .carousel-circle-div {
    float: none;
    margin: 100px 0 0 0!important; }

  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    font-weight: normal;
    font-size: 24px; }

  .navbar-inverse .nav .active > a:hover,
  .navbar-inverse .nav .active > a:focus {
    color: white !important; }

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin: 0; }

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    position: fixed; }

  .portfolio .span3 {
    width: 47%!important;
    height: 240px;
    margin: 0 0 20px 0; }
  .portfolio .ch-item {
    height: auto; }
  .portfolio .ch-border {
    left: 100px; }

@media (max-width: 783px) {
  body {
    padding: 0; }

  /*p {
    padding: 0 20px; }*/

  .portfolio .span3 {
    width: 100%!important;
    height: 240px;
    margin: 0 0 20px 0; }
  .portfolio .ch-border {
    left: 36%; }

  .carousel-circle-div {
    margin-top: 110px!important; }

  
@media (max-width: 767px) {
  .thumbnail img {
    min-width: 100%;
    height: auto; } }
    
@media (max-width: 580px) {
  .portfolio .ch-border {
    left: 33%; }

  .portfolio-navigation ul li {
    float: none;
    margin: 10px 0 0 0; }
    .portfolio-navigation ul li a {
      display: block; } }

@media (max-width: 460px) {
  .portfolio .ch-border {
    left: 29%; }

  .carousel {
    margin-top: 110px!important; }

  .title h1 {
    font-size: 46px;
    line-height: 48px;
    padding: 23px 0 18px; }



@media (min-width: 360px) and (max-width: 460px) {
  .portfolio .ch-border {
    left: 24%; } }
@media (max-width: 360px) {
  .portfolio .ch-border {
    left: 19%; } }
